@import "../../style.scss";

input[type=file] {
    &::file-selector-button {
        background: $primary-color;
        border: 1px solid $primary-color;
        text-align: center;
        padding: 6px 15px;
        color: #fff;
        cursor: pointer;
    }
}

.CircularProgressbar{
    width: 2% impo !important;
}

.CircularProgressbar .CircularProgressbar-text{
    font-size: 32px;
}

form.form {
    padding: 20px;
    background: $secondary-color;
    display: flex;

    input {
        border: 1px solid grey;
        height: 25px;
        margin: 0 10px 0 10px;
        font-family: $primary-font;
    }

    div {
        display: inline;
        margin: 0 2px 0 2px;
    }

    input[type=file] {
        border: none;
        color: #fff;
        width: 77%;
        padding: 0px;
    }

    label {
        color: #fff;
        font-size: 12px;
    }

    button {
        display: inline;
        margin: auto;
    }
}

.container {
	background: #f3f2f7;
	padding-bottom: 2%;

    .sortDiv{
        padding: 0 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        select, input{
            padding: 5px 10px;
            outline: none;
            border: 1px solid #c7c7c7;
            color: $secondary-color;
        }

        i{
            cursor: pointer;
            margin-left: 10px;
            font-size: 20px;
            color: #a7a7a7;

            &:hover{
                color: $secondary-color;
            }
        }
    }

    .pagination{
        color: #646565;
        text-align: right;
        padding-right: 2%;
        font-weight: 600;
        font-size: 14px;

        .navigate{
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    &::placeholder {
        padding-left: 5px;
    }
    .advertisement{
        text-align: center;
        font-weight: 600;
        margin: auto;

        div {
            display: inline;
        }

        button {
            margin: unset;
            display: inline;
            margin-right: 5px;
        }
    }

        .content {
            border: 2px solid $primary-color;
            margin: 0 2% 0 2%;
            background: #fff;
            display: flex;
            padding: 10px;
            margin-top: 20px;
            img {
                box-shadow: 0px 0px 5px 1px #64656552;
                margin-right: 20px;
            }
            a {
                color: #fff;
            }

            .title {
                font-size: 22px;
                margin: 0;
                text-transform: capitalize;
                &::first-letter {
                    color: $primary-color;
                    font-size: 150%;
                }
            }

            .capital{
                text-transform: capitalize;
            }

            small {
                display: block;
            }

            .btns {
                margin-left: auto;
                align-self: center;

                .selection{
                    display: flex;
                    border: 1px solid $primary-color;
                    padding: 5px 0;
                    font-size: 14px;
                    justify-content: space-between;
                    position: relative;

                    span{
                        margin: 2px 26px 0 0;
                    }

                    input[type="checkbox"]{
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }

                button {
                    width: 99px;
                    justify-content: center;
                }
            }
        }
    }

    // Admin Detail page

    .detailContainer{
        padding: 0 2%;

        .head{
            display: flex;

            h1{
                width: 95%;
            }

            button{
                margin: auto;
            }
        }

        .detailContent{
            display: flex;
            border: 2px solid #c2d44e;
            padding: 1%;
            margin-bottom: 25px;
            
            img{
                box-shadow: 0 0 5px 1px rgb(100 101 101 / 32%);
                margin-right: 40px;
            }

            .editProfile{
                width: 100%;
                font-size: 25px;
                margin: 0;

                div{
                    display: inline-flex;
                    width: 100%;
                    padding-top: 12px;

                    label{
                        width: 20%;
                    }

                    input{
                        width: 78%;
                        font-size: 18px;
                        color: #646565;
                        border: 1px solid #d8d8d8;
                        padding-left: 10px;
                        font-family: $primary-font;
                    }
                }
            }
        }
    }

    .productContainer{
        input{
            width: 90%;
            font-family: $primary-font;
        }

        button{
            width: 10%;
        }

        textarea{
            margin-left: 5px;
            height: 26px;
            outline: none;
            font-family: $primary-font;

            &::placeholder{
                padding-top: 2px;
            }
        }
    }

    .productDetailContainer{
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
        gap: 19px;

        h1{
            margin: 2%;
        }

        .products{
            height: 57vh;
            margin-bottom:20px;
            position: relative;
            flex: 0 0 19%;

            input{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
            }

            img{
                width: 100%;
            }

            .productContent{
                position: absolute;
                bottom: 5px;
                background: #fff;
                width: 80%;
                left: 10%;
                box-shadow: 1px 1px 7px 0px #ccc9c9;
                height: 11.5vh;
                text-align: center;

                span{
                    display: flex;
                    margin: auto;
                    width: 69%;
                    margin-top: 5px;

                    button{
                        margin: unset;
                        
                        &:first-child{
                            margin: 5px 5px auto 5px;
                            padding: 6px 24px;
                        }

                        &:last-child{
                            margin: 5px auto 5px 5px;
                        }
                    }
                }

                p{
                    font-size: 20px;
                    margin: 5px;
                    
                    &::first-letter {
                        color: $primary-color;
                        font-size: 150%;
                    }
                }
            }
        }
    }

    .icons{
        text-align: right;
        margin: 0 10px 10px 0;
        i{
            cursor: pointer;
            margin-left: 10px;
            font-size: 20px;
            color: #a7a7a7;

            &:hover{
                color: $secondary-color;
            }
        }
    }

    .listContainer{
        .products{
            border: 2px solid #c2d44e;
            margin: 0 10px 0 10px;
            background: #fff;
            display: flex;
            padding: 10px;
            margin-bottom: 20px;
            height: 20vh;

            img{
                box-shadow: 0px 0px 5px 1px #64656552;
                margin-right: 20px;
            }

            .productContent{
                p{
                    margin: 10px 0;
                }
                .ptitle{
                    font-size: 22px;
                    margin: 0;
                    text-transform: capitalize;

                    &::first-letter{
                        color: #c2d44e;
                        font-size: 150%;
                    }
                }
            }

            .btns{
                margin-left: auto;
                align-self: center;

                .selection{
                    display: flex;
                    border: 1px solid #c2d44e;
                    padding: 5px 0;
                    font-size: 14px;
                    justify-content: space-between;
                    position: relative;
                }

                span{
                    margin: 2px 26px 0 0;
                }

                button{
                    width: 99px;
                    justify-content: center;
                }
            }
        }
    }
