@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

@mixin rale_300{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight:300;
}

p, ul{
  font-family: "Raleway", sans-serif;
  font-size:14px;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-size:14px;
}
