header ul {
  color: #646565;
  padding: 15px;
  display: inline-flex;
  font-weight: 600;
  align-self: center;
  background: #c2d44e;
  font-variant-caps: small-caps;
}

header h1 {
  margin-left: 1%;
}

header div {
  align-self: center;
}

li {
  list-style: none;
  cursor: pointer;
  padding: 0 10px 0 10px;
  position: relative;
}

li:hover,
li a:hover {
  color: #fff;
}

a {
  color: #646565;
  text-decoration: none;
}

.active {
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1;
  margin-top: -0.5%;
}

.icons {
  font-size: 20px;
}

.badge {
  width: 20px;
  height: 20px;
  background: #fff;
  display: block;
  position: absolute;
  top: -11px;
  border-radius: 100%;
  right: 1px;
  color: #ff8080;
  font-size: 14px;
  text-align: center;
}

.addon {
  background: #fff;
  padding: 1px 2px 1px 2px;
}

li:hover .addon {
  color: #646565;
}

::placeholder {
  font-size: 11px;
}

input {
  border: none;
  padding: 2px;
}

header p {
  display: inline;
  font-variant-caps: small-caps;
  cursor: pointer;
  padding-right: 10px;
  font-weight: 600;
}

p a:hover {
  color: #c2d44e;
  text-decoration: underline;
}

/* footer */

footer {
  background: #646565;
}

footer p {
  color: #fff;
  margin: 0;
  font-weight: 600;
  font-variant-caps: small-caps;
}

footer ul {
  margin-bottom: 0;
  padding: 0;
}

footer a {
  color: #fff;
}

footer .content {
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

footer li {
  padding: 2px 0;
  color:#fff;
}
