@import "../../style.scss";

.authForm{
    margin: 0;
    .lower{
        text-transform: lowercase;
    }

    .info{
        font-size: 11px;
        position: relative;
        top: -6px;
        color: $primary-color;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    div {
        padding: 5px 0;

        label {
            width: 39%;
            display: inline-flex;
        }
        
        input, select {
            width: 60%;
            height: 5vh;
            border-radius: 5px;
            border: 1px solid #80808063;
        }
        select{
            outline: none;
        }
    }
    .fpwd{
        display: block;
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
        font-size: 11px;

        &:hover{
            text-decoration: underline;
        }
    }
}

.btn{
    text-align: center;
    margin-top: 10px;

    button{
        padding: 6px 30px;
        margin:unset;
        display: inline;
        margin: 0 10px;
    } 
}

// forgot password screen
.passContainer{
    background: url('../../assets/bg.JPG');
    background-repeat: no-repeat;
    width:99%;
    height:87vh;

    .overlay{
        background:rgba(0,0,0,.56);
        position: fixed;
        top:0;
        bottom:0;
        width: 100%;
        z-index: 1;

        .modal{
            width: 40rem;
            left: calc(50% - 20rem);
            position: fixed;
            top: 20vh;
            background: #fff;
            border: 5px solid #c2d44e;
            padding: 1rem;
            border-radius: 14px;
            box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
        }
    }
}

.emailVerifyTitle{
    text-align: center;
    line-height: 45vh;
    height: 52vh;
}